# Requerimientos Principales para la Aplicación de Pronóstico

# Frameworks de la aplicación y datos
streamlit
pandas
numpy

# Machine Learning y Modelo
tensorflow
joblib
scikit-learn

# Visualización
plotly

# Dependencias clave de TensorFlow
h5py
protobuf